.account-container{
    background-color: #fcfcfc;
    align-self: center;
    margin-top: 100px;
    display: flex;
    border-radius: 12px;
    width: fit-content;
    min-height: 100px;
    flex-direction: column;
    min-width: 600px;
    
}

.section{
    display:none;
    flex-direction: column;
    
    margin: 30px;
    gap:10px;
}
.selected{
    display: flex;
}
.account-info{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;

    cursor: pointer;
    
    background-color: #223;
}
.details{
    display: flex;
    flex-direction: column;
}
.details label{
    font-size: 18px;
    font-weight: 300;
}
.details input{
    margin-top:3px;
    margin-bottom: 12px;
    font-size: 22px;
    min-width: 300px;
    padding: 3px;
    border-radius: 5px;
}

.details button{
    width: fit-content;
    align-self: self-start;
    border: none;
    background-color: initial;
    border-radius: 4px;
    color:#234;
    cursor:pointer;
    user-select: none;
    font-size: 20px;
}


.stats{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.search{
    width:70px;
    align-self: flex-start;
    border:none;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
.search:focus{
    outline: none;
    width:200px;
    border-bottom:1px solid #223;
    cursor:text;
}

.header{
    display: flex;
    font-size:22px;
    color:#2237;
    border-bottom: 1px solid #2237;
    
}

.account-scores{
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    gap:5px;
    
}
.account-score{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 'author date'
                            'link accuracy';
    row-gap: 6px;
    padding: 5px;
    
    border:1px solid #30303077;
    border-left:4px solid #2837;
    align-items: center;
    
}
.account-score .title{
    grid-area: author;
    font-size: 19px;
    font-weight: 300;
}
.link{
    grid-area: link;
    color:#238;
    text-decoration: underline;
    cursor: pointer;
}
.account-score .score{
    grid-area: accuracy;
    place-self: end;
    font-size: 20px;
}
.account-score .date{
    grid-area: date;
    place-self: end;
    font-size: 14px;
    font-weight: 300;
}


.nitifications{
    display: flex;
    flex-direction: column;
    gap:20px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
    padding: 3px;
}
.notification{
    display: grid;
    grid-template-areas: 'info notify-date'
                        'link term';

    row-gap: 30px;
    border:1px solid #223;
    padding:20px;
    
    box-shadow: 3px 3px 10px #223;


}
.notification .info{
    grid-area: info;
}
.notification .link{
    grid-area: link;
}
.notification .notify-date{
    grid-area: notify-date;
    font-weight: 300;
    place-self: end;

}
.notification .term{
    grid-area: term;
    place-self: end;
    text-decoration: underline;
}
.notification .term::before{
    content: 'Term: ';
}



.tabs{
    display: flex;
    align-self: flex-end;
    gap:3px;
    margin: 3px 10px
}
.tabs .tab{
    font-size:18px;
    margin:3px;
    width:115px;
    text-align: center;
    border-bottom: 3px solid #223;
    user-select: none;
    cursor: pointer;
}
.tab.current{
    border-bottom: 3px solid #238;    
    color: #238;
    font-weight: 600;
}

.popup-container{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #223a;
}
.popup-container.on{
    display: flex;
}
.change-password-popup{
    display: flex;
    
    flex-direction: column;
    gap:3px;
    padding: 10px;
    background-color: #fcfcfc;
    border-radius: 12px;
    box-shadow: 3px 3px 12px #223;
    margin: auto;
    min-width: 200px;
}
.change-password-popup input{
    padding: 3px;
    margin-bottom: 10px;
}
.change-password-popup button{
    width:100px;
    align-self: center;
    padding: 5px;
    background-color: #7418;
}
.popup-caption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.popup-caption .close{
    font-size: 24px;
    user-select: none;
    cursor: pointer;
}
.popup-caption h2{
    font-size: 18px;
    user-select: none;
}