.catalog-container{
    display: flex;
    flex-direction: column;
    width:1020px;
    min-height:500px;
    background-color: #fcfcfc;
    align-self: center;
    padding: 20px;
    margin-top: 120px;
    margin-bottom: 60px;
    border-radius:12px;
}

.catalog-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.tools{
    display: flex;
    gap:30px;
    
}
.tools .create{
    color:#223a;
    cursor: pointer;
    user-select: none;
}


/* Options */
.search{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
    width:fit-content;
    padding: 0px 10px;

    border-radius: 30px;

}
.search-button{
    font-size:25px;
    background-color: transparent;
    border:none;
    cursor: pointer;
    user-select: none;
}
.search-input{
    display: block;
    width: 100px;
    border:none;
    font-size:16px;
    padding: 3px;
    transition: width 200ms ease-in-out;
}

.search-input:focus{
    outline: none;
    border-bottom:1px solid #223;
    width:200px;
}

.search-button:focus + .search-input{
    display: none;
}


.dropdown{
    
    display: inline-flex;
    justify-content: center;
    font-size:18px;
    user-select: none;
    cursor: pointer;
}
.dropdown p{
    font-size:18px;

}
.dropdown-content {

    margin-top:18px;
    display: none;
    flex-direction: column;
    gap:10px;

    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 3px 3px 2px #2239;
    padding: 8px 8px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-item{
    display: flex;
    gap:10px;
}
.dropdown-item img{
    width:20px;
    height:20px;
    object-fit: contain;
}


/* Test */

.row-header{
    display: flex;
    justify-content: space-between;

    margin: 3px 10px;
    padding: 10px;
    
    
   
}
.row-header.hide{
    display: none;
}
.catalog-param{
    text-align: center;
    width:150px;
}

.tests{
    display: flex;
    gap:10px;
    flex-wrap: wrap;

    margin: 20px 10px;
}
.test-preview{
    user-select: none;
    cursor: pointer;
}
.test-preview:hover{
    outline: 1px solid #1229;
}
.tests.box .test-preview{
    display: grid;
    grid-template-areas: 'title title'
                        'status status'
                        'created updated';



    row-gap: 30px;
    width:170px;
    height: 150px;
    box-shadow: 1px 1px 3px #223;
    border-radius: 12px;
    padding: 10px;
}
.tests .row{
    display: flex;
    flex-direction: column;
}
.tests.row .test-preview{
    display: grid;
                  
    grid-template-areas: 'title status created updated';
      
    width:100%;
    
    box-shadow: 1px 1px 3px #223;
    border-radius: 12px;
    padding: 10px;
    align-items: center;
    justify-items: center;
}

.test-preview .title{
    grid-area: title;
    font-size: 18px;
    text-wrap:pretty;
    overflow:none;
    
}
.row .test-preview .title{
    width:150px;
    justify-self: flex-start;
    text-align: start;
    
    
}
.test-preview .status{
    grid-area: status;
    justify-self: center;
}
.row .test-preview .status{
    width:150px;
    justify-self: start;
    align-content: start;
    text-align: center;
    
}
.test-preview .created{
    grid-area: created;
    font-size: 12px;
    color:#2237;
    align-self:flex-end;
    text-align: left;
    
}
.row .test-preview .created{
    width:150px;
    align-self:center;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    padding: 0;
}
.test-preview .updated{
    grid-area: updated;
    font-size: 12px;
    place-self: end;
}
.row .test-preview .updated{
    width:150px;
    align-self:center;
    font-size: 14px;
    text-align: center;
}
.test-preview .updated::before{
    content: '✎';
    font-size: 14px;
    color: #1127;
    margin-right:3px;
}
.row .test-preview .updated::before{
    content: '';
}






/* Responsive */

@media (max-width:1100px){
    .catalog-container{
        width: 95%;
        border-radius: 0;
        margin-top: 100px;
    }
}
@media (max-width:800px){
    .catalog-container{
        width: 95%;
        border-radius: 0;
        margin-top: 100px;
    }
    .row .test-preview .title{
        font-size: 12px;
    }
    .row .test-preview .status{
        font-size: 12px;
    }
    .row .test-preview .created{
        font-size: 12px;
    }
    .row .test-preview .updated{
        font-size: 12px;
    }

    .test-preview .title{
        font-size: 14px;
    }
    .test-preview .status{
        font-size: 12px;
    }
    .test-preview .created{
        font-size: 12px;
    }
    .test-preview .updated{
        font-size: 12px;
    }

    .tests.box .test-preview{
        width:140px;
    }

    .row-header .catalog-param{
        width:150px;
        font-size: 14px;
    }

    .tests.box{
        margin:0 auto;
    }
}

@media (max-width:725px){
    .catalog-container{
        width: 95%;
        border-radius: 0;
        margin-top: 100px;
    }

    .dropdown p{
        font-size: 14px;
    }
    .create{
        font-size: 14px;
    }

    .search-input{
        font-size: 10px;
    }
    .search-input:focus{
        width:100px;
    }
    .search-button{
        font-size:18px;
    }
    
    .catalog-options{
        padding: 3px 10px;
    }

    .row .test-preview .title{
        width:100px;
        font-size: 12px;
    }
    .row .test-preview .status{
        width:100px;
        font-size: 12px;
    }
    .row .test-preview .created{
        width:100px;
        font-size: 12px;
    }
    .row .test-preview .updated{
        width:100px;
        font-size: 12px;
    }
    .row-header .catalog-param{
        width:100px;
        font-size: 14px;
    }

    .test-preview .created{
        font-size: 10px;
    }
    .test-preview .updated{
        font-size: 10px;
    }

    .tests.box .test-preview{
        width:120px;
        height: 120px;
    }

}

@media (max-width:500px){
    .catalog-container{
        width: 95%;
        border-radius: 0;
        margin-top: 100px;
    }

    .dropdown p{
        font-size: 12px;
    }
    .create{
        font-size: 12px;
    }

    .search-input{
        font-size: 10px;
    }
    .search-input:focus{
        width:100px;
    }
    .search-button{
        font-size:18px;
    }
    
    .catalog-options{
        padding: 3px 5px;
    }

    .row .test-preview .title{
        width:50px;
        font-size: 10px;
    }
    .row .test-preview .status{
        width:50px;
        font-size: 10px;
        margin: 0;
    }
    .row .test-preview .created{
        width:50px;
        font-size: 10px;
        
    }
    .row .test-preview .updated{
        width:50px;
        font-size: 10px;
        
    }
    .row-header .catalog-param{
        width:75px;
        font-size: 12px;
    }

    .test-preview .title{
        font-size: 12px;
    }
    .test-preview .created{
        font-size: 8px;
    }
    .test-preview .updated{
        font-size: 8px;
    }

    .catalog-container{
        width:100%;
        padding: 0px;
    }
    

    .tests.box .test-preview{
        width:100px;
        height: 100px;
    }

}