@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;

    font-family: "Josefin Sans", sans-serif;
    color:#222;
    font-size: 16px;
    
}

html{
    width:100%;
}
.body{
    min-width: 100%;
    min-height: 100vh;
}

#root{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    
   padding-bottom: 100px;

    background-color: #238;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Scoll */
*::-webkit-scrollbar{
  width: 2px;
  
}
*::-webkit-scrollbar-track {
  background:transparent;
}
 
*::-webkit-scrollbar-thumb {
  background: #1127;
  border-radius: 10px;
}


input:focus{
  outline:1px solid #234;
  outline-style:dotted;
}

header{
  display: flex;
  position: fixed;
  height: 80px;
  background-color: #fcfcfc;
  width:100%;
  justify-content: space-between;
  align-items: center;
  
  flex-direction: row;
  box-shadow: 0px 3px 10px #223;
  z-index: 1;

}

.logo img{
  width: 60px;
  margin-left: 10px;
}

.navs{
  display: flex;
  gap:30px;
  margin-right:20px;
  align-items: center;
  
}
.navs .nav{
  font-weight: 600;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}
.navs .nav.index{
  color:#238;
  font-weight: 900;
}


.popup{
  display: flex;
  position: absolute;
  width:100%;
  height: 100%;
  background-color: #2235;
  z-index: 1;
}
.popup-form{
  display: flex;
  flex-direction: column;
  padding:15px;
  border-radius: 12px;
  background-color: #fcfcfc;
  gap:10px;
  z-index: 2;
}
.popup-form h2{
  font-size:24px;
  color: #223;
}
.popup-form p{
  font-size:18px;
  color: #223;
}
.popup-form input[type='text']{
  font-size:20px;
  padding: 3px;
  color: #223;
}